<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link rel="icon" href="favicon.ico" />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://github.com/franco14lorenzo" />
            <input type="submit" value="POST" id="button" />
          </fieldset>
        </form>
      </section>
    </main>
    <div class="footer">
      <p>
        By <a href="https://github.com/franco14lorenzo" target="_blank">Franco Lorenzo</a>
      </p>
    </div>
  </body>
</html>
